---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 42197208-7395-4982-8d7c-b90c6f9322e3
      X-Oauth-Scopes:
      - identify,channels:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-526b
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CH0E8S9UY","name":"everyone","is_channel":true,"created":1552951939,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UH2S78AHY","name_normalized":"everyone","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UH2RALWR2","UH2S78AHY"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UH2S78AHY","last_set":1552951939},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UH2S78AHY","last_set":1552951939},"previous_names":[],"num_members":2},{"id":"CH0E8SBA4","name":"random","is_channel":true,"created":1552951939,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UH2S78AHY","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UH2RALWR2","UH2S78AHY"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UH2S78AHY","last_set":1552951939},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UH2S78AHY","last_set":1552951939},"previous_names":[],"num_members":2},{"id":"CH2R9UGCU","name":"api-slack","is_channel":true,"created":1552951940,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UH2S78AHY","name_normalized":"api-slack","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UH2RALWR2","UH2S78AHY"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 19 Mar 2019 21:13:35 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 5df02575-a618-4a31-9aa1-1da7a8d58c2b
      X-Oauth-Scopes:
      - identify,channels:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Via:
      - haproxy-www-d8v
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CH0E8S9UY","name":"everyone","is_channel":true,"is_group":false,"is_im":false,"created":1552951939,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"everyone","is_shared":false,"parent_conversation":null,"creator":"UH2S78AHY","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TH49RSM8W"],"pending_shared":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UH2S78AHY","last_set":1552951939},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UH2S78AHY","last_set":1552951939},"previous_names":[],"num_members":2},{"id":"CH0E8SBA4","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1552951[...]
[...]
