---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e5bef177-648f-4594-a4de-9971e8569520
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-haq2
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CH0EFGWQ0","name":"everyone","is_channel":true,"created":1552952597,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UH2SDUECA","name_normalized":"everyone","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UH2SDUECA","UH4A0RV4N"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UH2SDUECA","last_set":1552952597},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UH2SDUECA","last_set":1552952597},"previous_names":[],"num_members":2},{"id":"CH0EFH3CG","name":"slack-api-project","is_channel":true,"created":1552952598,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UH2SDUECA","name_normalized":"slack-api-project","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UH2SDUECA","UH4A0RV4N"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CH36U0J9K","name":"random","is_channel":true,"created":1552952597,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UH2SDUECA","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UH2SDUECA","UH4A0RV4N"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UH2SDUECA","last_set":1552952597},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UH2SDUECA","last_set":1552952597},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 20 Mar 2019 21:20:18 GMT
recorded_with: VCR 4.0.0
