---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 59127942-e278-465b-9cbf-1fd5e5b56b3c
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-5baq
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[],"cache_ts":1553114294,"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 20 Mar 2019 20:38:14 GMT
recorded_with: VCR 4.0.0
